.single-stack .title{height:28px;background:url(http://img.china.alibaba.com/cms/upload/2011/314/542/245413_364133717.png) repeat-x 0px -42px;border:1px solid #dcdcdc;}.single-stack .title h2{margin-left:15px;_margin-left:10px;float:left;height:24px;line-height:28px;font-weight:bold;color:#616161;}
.single-stack .content{border:1px solid #dcdcdc;}
