.mappstate{border:0px solid #9b9b9b;width:228px;height:218px;background-color:#f6f9fe;margin:12px 0px 0px 0px;float:left;}.mappstate .paperIcon{background:url(http://img.china.alibaba.com/cms/upload/2012/487/292/292784_1255716180.png) no-repeat 3px -81px;width:52px;height:50px;margin:10px;float:left;}
.mappstate p{display:inline;line-height:64px;margin:5px;}
.mappstate ul{clear:both;}
.mappstate a{display:inline;float:left;}
.mappstate .sl{text-align:left;padding-left:20px;}
.mappstate .mquestion{background:url(http://img.china.alibaba.com/cms/upload/2012/089/682/286980_1255716180.png) no-repeat 45px -349px;cursor:pointer;}
.mappstate a,.mappstate a:visited{color:#638ad8 !important;font-weight:bold;text-decoration:none;}
.mappstate a:hover{color:#FF7300 !important;text-decoration:underline;}
