.comp-tips {
  margin-top: 50px;
  margin-left: 50px;
  width: 400px;
  height: 400px;
  border: 0px solid #444;
  position: relative;
  zindex: 1;
  font-size: 12px;
}
.comp-tips .comp-tips-content {
  position: relative;
  width: 230px;
  height: 85px;
  border: 1px solid #e7d3ac;
  margin: 15px 0px 0px 10px;
  background: #fffbdd url(http://img.china.alibaba.com/cms/upload/2012/424/753/357424_1255716180.png) no-repeat 10px 10px;
}
.comp-tips .comp-tips-content .comp-tips-content-p {
  margin-top: 16px;
  margin-left: 47px;
  padding-left: 5px;
  padding-right: 5px;
}
.comp-tips .comp-tips-content .comp-tips-content-button {
  position: absolute;
  right: 47px;
  bottom: 10px;
  color: #0066cc;
  cursor: pointer;
}
.comp-tips .comp-tips-icon {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: url(http://img.china.alibaba.com/cms/upload/2012/324/753/357423_1255716180.jpg) no-repeat 0px 0px;
}
