.mtips{height:84px;border:1px solid #FFF;border-bottom:1px dashed #d4d4d4;margin:8px 0px 0px 0px;background-color:#f5f5f5;line-height:84px;width:100%;float:left;}.mtips p{line-height:10px;color:#9b9b9b;margin:12px;}
.mtips a,.mtips a:visited{color:#9B9B9B !important;text-decoration:underline;font-weight:bold;}
