.thirdbanner {
	height: 38px;
	cursor: pointer;
	background-color: #FFF;
	padding: 12px 0px 20px 0px;
	a {
	  float: left;
    }
	.sub-logo-v4 {
		display: block;
		float: left;
		padding-left: 12px;
		height: 38px;
		line-height: 38px;
		background-position: -160px top;
		font-family: "Î¢ÈíÑÅºÚE\8F6F\96C5\9ED1";
		font-size: 22px;
		font-weight: 700;
		color: #666;
    }
}